@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #636363;
  font-size: 300;
}
button {
  outline: none;
}
.content {
  font-size: 1.4rem;
  background-color: #fff;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0rem 0rem 0.3rem #666;
  transform: translate(-50%, -50%);
  padding-bottom: 2rem;
}
form {
  text-align: center;
  padding: 2rem;
}
.form_content h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}
.form_content .text {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
.form_group {
  width: 100%;
  position: relative;
}
.form_group i {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  bottom: 1rem;
}
.form_group input {
  font-size: 1.8rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid #89878741;
  padding: 1.7rem 0.5rem 0.5rem 2.7rem;
  outline: none;
  overflow: hidden;
}
.check {
  position: absolute;
  color: red;
  cursor: pointer;
  display: inline;
  z-index: 100;
  right: 0;
  bottom: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  background-color: #fff;
}

input::placeholder {
  font-size: 1.5rem;
}
button {
  margin-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-weight: 800;
  background-color: #19aa8d;
  width: 100%;
  padding: 1rem;
  border: none;
  letter-spacing: 0.14rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.info {
  width: 90%;
  margin: 0 auto;
}
.info a {
  text-decoration: none;
  color: #19aa8d;
}

.info a:hover {
  text-decoration: underline;
  color: #19aa8d;
}

.sms {
  text-align: left;
  color: red;
}

.modal {
  max-width: 500px;
  width: 80%;
  background-color: #19aa8d;
  margin: 0 auto;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15vh;
  backface-visibility: hidden;
  transition: all 1s;
  opacity: 0;
}
.modal p {
  margin: 0;
  text-align: right;
}
.modal h1 {
color: #fff;
  margin-top: 0;
  text-align: center;
}
.close {
  display: inline-block;
  text-align: right;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.subline{
  position: relative;
  padding-top: 0;
  margin: 0;
}
.modal .line {
  width: 100%;
  background-color: green;
  height: 0.3rem;
  margin: 2rem auto;
  border: none;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  transition: all 1s;
  backface-visibility: hidden;
}


@media screen and (min-width: 459.99px) {
  .content {
    width: 70%;
    padding: 2rem;
  }
}

@media screen and (min-width: 759.99px) {
  .content {
    width: 40%;
    padding: 2rem;
  }
}

@media screen and (min-width: 1023.99px) {
  .content {
    width: 40%;
    padding: 2rem;
  }
}

@media screen and (min-width: 1240px) {
  .content {
    width: 30%;
    padding: 2rem;
  }
}
